.container {
    position: absolute;
    top: calc((var(--vh, 1vh) * 100) - 8rem);
    left: calc(50vw - 3.5rem);
    text-transform: uppercase;
    display: none;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

@media (min-width: 768px) {
    .container {
        left: calc(50vw - 5rem);
        display: flex;
    }
}

.text {
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    color: var(--typography-secondary);
}

@media (min-width: 768px) {
    .text {
        font-size: 1.5rem;
    }
}

.pipe {
    width: 1px;
    height: 3.5rem;
    background-color: var(--typography-secondary);
}
