.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--typography-main);
    font-family: sans-serif;
    padding: 2rem;
    font-size: 1.125rem;
    line-height: 2;
    letter-spacing: 0.078rem;
}

@media (min-width: 768px) {
    .container {
        padding: 25vh 25vw;
        font-size: 1.5rem;
    }
}

.link {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--typography-secondary);
    display: contents;
}

.link:hover {
    color: var(--typography-main);
}
